*{
    background-color: beige;
    font-weight: 300;
    
}
#navigation{
    border-style: groove;
}
p:hover{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
}

button{
    color: rebeccapurple;
}
img{
    position: relative ;
}
