body{
    background-color: burlywood;
      
}

#title{
    color: brown;
    font-style: oblique;
}

.content{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 5px solid honeydew;
}

a{
    font-size: small;
}

a:hover {
   color: white;
    font-size: x-large;
}
a[href]{
    background-color: beige;
}

li:hover {
    font-size: x-large;
    color: white;
}
h2{
    font-size: xx-large;
}

